.ac_menu{
	padding:0px;
	margin:10px; 
	cursor:pointer; 
	color: #567;
	list-style:none; 
	width:350px;
	border:1px solid #bbb; 
	padding:10px;
}
.ac_menu > h3{
	background: #ffffff;
	border:1px solid #bbb; 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	font-size: 16px;
	margin:0;
	padding:12px;
	border-radius:5px;
}
.ac_menu > h3:hover{
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) inset;
}


.ac_menu > ul{
	background:#fdfdfd;
	padding:0px;
	margin:0px;
	list-style:none; 
}

.ac_menu > ul > li >a{
	color:#555;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	padding:20px;
	border:1px solid #bbb; 
	display: block;
}
.ac_menu > ul > li >a:hover{
	
}