#table-list {
	border: 1px solid white;
	color: #758697;
	font-family:sans-serif;
}

tr, td {
	padding: 13px;
}

.col-header {
	padding: 5px;
	font-size: 12px;
	font-weight: 700;
}

.row-list:nth-of-type(2n){
	background-color: #f2f6fa;
}

.row-list:nth-of-type(2n+1){
	background-color: #e3eaf3;
}

.row-list:first-child{
	padding:10px;
	text-transform: uppercase;
}

.col-name {
	text-transform: capitalize;
}

#table-list .row-list:not(:first-child):hover{
    background-color: #e2e5e9;
}