#container{
	display:flex;
	width:300px;
	padding:5px;
	background-color:#a0dfd1;
	border: 3px solid #6aad9e;
	border-radius:5px;
}

#container .block {
	background-color:#e5e5e5;
	border: 1px solid #61c6af;
	justify-content: center;
}

.header {
    border: 1px solid #ffca00;
    padding: 10px;
    position: relative;
	background-color:#ffca00;
	font-family:sans-serif;
   }
.header::before, .block::after {
    content: ''; 
    position: absolute;
    left: 20px; bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #ffca00;
   }
.header::after {
    border-top: 10px solid white;
    bottom: -19px; 
   }

.text {
	padding:10px;
	font-family:sans-serif;
	font-size:12px;
	color: #6aad9e;
	background-color:#edecde;
}
