body {
	width:900px;
}


/* FLOAT SECTION */
.float-section {
	height:750px;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list .container {
  margin:20px;
  padding:20px;
  width:178px;
  height:200px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  margin-top:60px;
}

ul.img-list li {
  float:left;
  height: 150px;
  position: relative;
  width: 150px;
}

span.text-content span {
  display: table-cell;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 178px;
  opacity: 0;
}

ul.img-list li a:hover span.text-content  {
  opacity: 1;
  margin:20px;
}

span.button_left {
	float:left;
	width: 70px;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	padding: 10px;
	color:#828282;
	text-align: center;
	font-family: sans-serif;
	font-size:14px;
	margin-left:-20px;
	margin-top:30px;
}

span.button_right {
	float:right;
	width: 80px;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	color:#828282;
	font-family: sans-serif;
	margin-top:30px;
	margin-right:-20px;
	font-size:14px;
}

.button_left:hover {
	cursor:pointer;
	color: white;
	background-color: #8ec84a
}

.button_right:hover {
	cursor:pointer;
	color: white;
	background-color: #8ec84a
}

/* INLINE SECTION */

.inline-section {
	height:750px;
}

.inline-section ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.inline-section ul.img-list .container {
  margin:40px;
  padding:20px;
  width:178px;
  height:200px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  display:inline-block;
}

.inline-section ul.img-list li {
  display: inline-block;
  float:left;
  height: 150px;
  position: relative;
  width: 150px;
}

.inline-section  span.text-content span {
  display: table-cell;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.inline-section  span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 178px;
  opacity: 0;
}

.inline-section  ul.img-list li:hover span.text-content {
  opacity: 1;
  margin:20px;
}

.inline-section  .button_left {
	display:inline-block;
	width: 70px;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	padding: 10px;
	color:#828282;
	text-align: center;
	font-family: sans-serif;
	font-size:14px;
	margin-left:-20px;
	margin-top:30px;
}

.inline-section  .button_right {
	display:inline-block;
	width: 80px;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	color:#828282;
	font-family: sans-serif;
	margin-top:30px;
	margin-right:-20px;
	font-size:14px;
}

.inline-section  .button_left:hover {
	cursor:pointer;
	color: white;
	background-color: #8ec84a
}

.inline-section  .button_right:hover {
	cursor:pointer;
	color: white;
	background-color: #8ec84a
}

/* FLEX SECTION */
.flex-section {
	width:900px;
	height:750px;

}

.flex-section ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.flex-section ul.img-list .container {
  margin:40px;
  padding:20px;
  width:178px;
  height:200px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  display:flex;
}

.flex-section ul.img-list li {
  display: flex;
  float:left;
  height: 150px;
  position: relative;
  width: 150px;
}

.flex-section span.text-content span {
  display: table-cell;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.flex-section span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 178px;
  opacity: 0;
}

.flex-section ul.img-list li :hover span.text-content {
  opacity: 1;
  margin:20px;
}

.flex-section .button_left {
	display:flex;
	width: 70px;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	padding: 10px;
	color:#828282;
	justify-content: center;
  	text-align: center;
  	align-items: center;
	font-family: sans-serif;
	font-size:14px;
	margin-left:-20px;
	margin-top:30px;
}

.flex-section .button_right {
	display:flex;
	width: 80px;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	padding: 10px;
	justify-content: center;
  	text-align: center;
  	align-items: center;
	color:#828282;
	font-family: sans-serif;
	margin-top:30px;
	margin-right:-20px;
	font-size:14px;
}

.flex-section .button_left:hover {
	cursor:pointer;
	color: white;
	background-color: #8ec84a
}

.flex-section .button_right:hover {
	cursor:pointer;
	color: white;
	background-color: #8ec84a
}