body {
	margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url("img/bg.png");
	background-size:100%;
	width:100%;
}

li {
    float: left;
	background-color:#397cb3;
	border-right:2px solid #00437b;
	padding: 7px 10px;
}

.right-panel {
	float: right;
	background-color:#397cb3;
	border-right:2px solid #00437b;
	padding: 7px 10px;
}

.right-panel img {
	display: inline-block;
	float:left;
    margin: 2px 3px 2px 2px;
}

.exit-button{
	float: right;
	padding: 7px 15px;
	font-size:16px;
	color:white;
	background-color:#2f2f35;
}

.exit-button:hover {
    background-color: #6d6d6d;
}

.exit-button img {
	display: inline-block;
	float:right;
    margin: 2px 5px 2px 8px;
}

li img {
	display: inline-block;
	float:left;
    margin: 2px 3px 2px 0;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
	background-color: #e03838;
	border-radius: 50%;
	font-size:9px;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color: #e03838;
}